<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div id="main-content" class="blog-page">
  <div class="container">
    <div class="row clearfix">
      <div class="col-lg-8 col-md-12 left-box">
        <div class="card single_post">
          <div class="body" *ngIf="isDataReady">
            <h3>{{book.name}}, {{book.author}}</h3>
            <hr>
            <p>{{book.content}}</p>
          </div>
        </div>
        <div class="cards" *ngIf="isDataReady">
          <review [reviews]="book.reviews"></review><!-- (addReview)="addReview($event)" -->
        </div>
      </div>
    </div>
  </div>
</div>
