<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container padding-bottom-3x mb-2">
  <div class="col-lg-8">
    <div class="padding-top-2x mt-2 hidden-lg-up"></div>
    <!-- Wishlist Table-->
    <div class="tab-content">
      <div class="tab-pane active" id="home">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Book ID</th>
              <th>Nume</th>
              <th>Autor</th>
            </tr>
            </thead>
            <tbody id="items">
            <tr *ngFor="let book of books">
                <td><a>{{book.bookId}}</a></td>
                <td>{{book.name}}</td>
                <td>{{book.author}}</td>
                <td>
                  <div class="btn-group align-top">
                    <button class="btn btn-sm btn-outline-secondary badge" type="button" [(ngModel)]="toEdit"
                            (click)="onEdit()" target="_blank" name="edit">Edit</button>
                  </div>
                </td>
            </tr>
            </tbody>
          </table>
        </div>

        <hr>

      </div>
    </div>
  </div>
</div>
